#mailhr {
  font-family: Arial, sans-serif; /* choose the font you like */
  text-align: center; /* horizontal centering */
  line-height: 1px; /* vertical centering */
  height: 1px; /* gap between the lines*/
  font-size: .8em; /* choose font size you like */
  border-style: solid;
  border-color: #eee;
  margin: 20px 10px; /* 20px space above/below, 10px left/right */

  /* ensure 1px gap between borders */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

#mailhr:after {
  content: "✉"; /* section sign */
  color: #999;
  display: inline; /* for vertical centering and background knockout */
  background-color: #FFFFFF; /* same as background color */
  padding: 0 0.5em; /* size of background color knockout */
}

/* opera doesn't render correctly. hide section sign */
x:-o-prefocus, #mailhr:after {
  content: "";
}